.main__title {
    color: #3E3E3E;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Typography/H2 */
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px; /* 120.833% */
    margin-block-end:  32px;
    align-self: flex-start;
    max-width: 858px;
}

@supports (font-variation-settings: normal) {
    .main__title {
        font-family: 'Inter Variable', serif;
    }
}

@media (width < 1300px) {
    .main__title {
        max-width: 603px;
    }
}

@media (width < 700px) {
    .main__title {
        font-size: 16px;
        margin-block-end:  24px;
        max-width: 335px;
        line-height: normal;
    }
}