.cards__description {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Typography/Body 1 */
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    padding-left: 32px;
    padding-bottom: 32px;
    max-width: 326px;
}
@supports (font-variation-settings: normal) {
    .cards__description {
        font-family: 'Inter Variable', sans-serif;
    }
}

@media (width < 900px) {
    .cards__description {
        max-width: 330px;
    }
}

@media (width < 700px) {
    .cards__description {
        padding-left: 16px;
        padding-bottom: 16px;
        font-size: 14px;
        max-width: 299px;
    }
}