.subheader__info {
    padding-top: 13px;
    padding-bottom: 13px;
}

@media (width < 900px) {
    .subheader__info {
        display: none;
        position: fixed;
        flex-direction: column;
        z-index: 50;
        padding-block-start: 350px
    }
}