@import url(../main/__title/main__title.css);

.main {
    display: flex;
    margin-block-start: 56px;
    flex-direction: column;
    align-items: center;
}

@media (width < 700px) {
    .main {
        margin-block-start: 36px;
    }
}