.cards__image_toyota {
    padding-block-start: 106px;
    padding-left: 12px;
}

@media (width < 1300px) {
    .cards__image_toyota {
        width: 217px;
        position: absolute;
        top: 30px;
        right: 6px;
    }
}

@media (width < 900px) {
    .cards__image_toyota {
        width: 297px;
        position: absolute;
        top: 0;
        right: 17px;
    }
}

@media (width < 700px) {
    .cards__image_toyota {
        width: 160px;
        position: absolute;
        top: 20px;
        left: 170px;
    }
}