.header__nav {
    padding-block-start: 12px;
}

@media (width < 1220px) {
    .header__nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        inset: 0;
        padding-block-start: 100px;
        z-index: 50;
        overflow-y: auto;
        background-color: #FFFFFF;
    }
}