.open {
    display: flex !important;
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 28px;
    height: 18px;
    border-radius: 10px;
    top: 10px;
}
@media (width < 1220px) {
    .burger {
        display: flex;
    }
}

@media (width < 700px) {
    .burger {
        left: 0;
    }
}
.burger__span {
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #0B457F;
}
.burger::before, .burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #0B457F;
    transition: all 0.3s ease 0s;
}
.burger::before {
    top: 0;
}
.burger::after {
    bottom: 0;
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.burger.active .burger__span {
    transform: scale(0);
}