@font-face {
    font-display: swap;
    font-family: 'Inter Variable';
    src:
            local('Inter-Variable'),
            url('Inter-VariableFont_slnt,wght.ttf') format('truetype supports variations'),
            url('Inter-VariableFont_slnt,wght.ttf') format('truetype-variations');
    font-weight: 100 1000;
}

@font-face {
    font-family: Inter;
    src: url(Inter-Regular.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: Inter;
    src: url(Inter-Medium.ttf) format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Inter;
    src: url(Inter-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-display: swap;
}