.subheader__time {
    padding-top: 13px;
    padding-bottom: 13px;
}

@media (width < 769px) {
    .subheader__time {
        display: none;
        position: fixed;
        flex-direction: column;
        z-index: 50;
        padding-block-start: 300px;
    }
}